.grid-lightbox {
    position: absolute;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, .8));
    width: 100vw;
    height: 100vh;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .7s all cubic-bezier(.43,.01,.42,1.01);

    .grid-lightbox-wrapper {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%) scale(.8);
        opacity: 0;
        text-align: center;

        #grid-lightbox-shown {
            opacity: 0;
            transition: .3s all cubic-bezier(.43, .01, .42, 1.01);
            transform: scale(.95);
        }
    }

    #grid-lightbox-text {
        h3 {
            overflow:hidden;

            #grid-lightbox-text-title {
                color: $nutRed;
                letter-spacing: 1.5px;
                transform: translateY(0%);
                display: inline-block;
            }
        }  
    }

    $mImgSize: 60px;

    .grid-lightbox-gallery {
        white-space: nowrap;
        width: 10 * $mImgSize;
        overflow-x: scroll;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        opacity: 0;
        bottom: 9%;
        right: 0;
        left: 0;

        .grid-lightbox-item {
            height: $mImgSize;
            width: $mImgSize;
            transform: scale(.5);
            border-radius: 5px;
            display: none;
            transition: .3s all cubic-bezier(.43, .01, .42, 1.01);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    
    
}

.d-inline-block {
    display: inline-block !important;
}

.showLightbox {
    top: 0;
    transition: .7s all cubic-bezier(.43,.01,.42,1.01);
}

.revealPanel {
    opacity: 1 !important;
    transition: 1s all cubic-bezier(.43,.01,.42,1.01);
    transform: translate(-50%, -50%) scale(1) !important;
}

.galleryAppear {
    opacity: 1 !important;
    transition: 1s all cubic-bezier(.43, .01, .42, 1.01);
    bottom: 12% !important;
}

.itemActive {
    transform: scale(1);
    border: 1px solid $nutRed;
    transition: .3s all cubic-bezier(.43,.01,.42,1.01);
}

.showImg {
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: .3s all cubic-bezier(.43, .01, .42, 1.01);
}