$rowHeight: 120px;

.grid {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: $rowHeight * 4;
	@media (min-width: 767px) {
		height: ($rowHeight * 4) * 1.6;
	}
	@media (min-width: 1200px) {
		height: ($rowHeight * 4) * 1.3;
	}
	@media (min-width: 1680px) {
		height: (($rowHeight * 1.7 )* 4) * 1.3;
	}
	overflow: hidden;
	position: relative;
	transition: .5s all;
	
	.grid-category {
		height: $rowHeight;
		white-space: nowrap;
		position: absolute;
		transform: translateX(0);
		transition: all linear;
		@media (min-width: 767px) {
			height: $rowHeight * 1.6;
		}
		@media (min-width: 1200px) {
			height: $rowHeight * 1.3;
		}
		@media (min-width: 1680px) {
			height: ($rowHeight * 1.7) * 1.3;
		}

		&:nth-child(2) {
			top: $rowHeight;
			@media (min-width: 767px) {
				top: $rowHeight * 1.6;
			}
			@media (min-width: 1200px) {
				top: $rowHeight * 1.3;
			}
			@media (min-width: 1680px) {
				top: ($rowHeight * 1.7) * 1.3;
			}
		}

		&:nth-child(3) {
			top: $rowHeight * 2;
			@media (min-width: 767px) {
				top: ($rowHeight * 2) * 1.6;
			}
			@media (min-width: 1200px) {
				top: ($rowHeight * 2) * 1.3;
			}
			@media (min-width: 1680px) {
				top: (($rowHeight * 1.7) * 2) * 1.3;
			}
		}

		&:nth-child(4) {
			top: $rowHeight * 3;
			@media (min-width: 767px) {
				top: ($rowHeight * 3) * 1.6;
			}
			@media (min-width: 1200px) {
				top: ($rowHeight * 3) * 1.3;
			}
			@media (min-width: 1680px) {
				top: (($rowHeight * 1.7) * 3) * 1.3;
			}
		}

		.grid-img-wrapper {
			height: 100%;
			display: inline-block;
			position: relative;
			transition: .5s all;
			opacity: .1;
			padding: 2px;
			
			.grid-img {
				height: 98%;
				transition: .3s all;
			}

			.grid-img-overlay {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: radial-gradient(transparent -100%, #202020 67%);
				background-color: #20202020;
				opacity: 0;
				position: absolute;
				z-index: 1;
				transition: .3s all;
				text-align: center;

				&:hover {
					opacity: 1;
				}

				&:hover ~ .grid-img {
					transform: scale(.9);
					transition: .3s all;
				}

				&:hover > .grid-img-box {
					transform: translateY(70%);
					transition: .3s all;
				}

				.grid-img-box {
					transition: .3s all;
					
					> span {
						font-weight: bolder;
						text-transform: uppercase;
						letter-spacing: 1px;
						display: block;
						transition: .3s all;
					}
	
					:nth-child(1) {
						transform: translateX(-5%);
						display: block;
						border: 2px solid $nutGray;
						border-radius: 30px;
						height: 16px;
						width: 16px;
						margin: auto;
						transition: .3s all;
						position: relative;

						&::after {
							content: " ";
							right: -10%;
							bottom: -5px;
							height: 8px;
							width: 2px;
							background-color: $nutGray;
							transform: rotate(-45deg);
							position: absolute;
						}
					}

					:nth-child(2) {
						margin-top: 3rem;
						color: $nutGray;
					}
	
					:nth-child(3) {
						color: $nutRed;
					}

				}
				
			}

		}
	}
}