.grid-filter {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
    flex-wrap: wrap;

    > button {
        font-family: inherit;
        color: $nutGray;
        background: transparent;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bolder;
        transition: .3s all;
        padding: 0 2rem;
        border: 0;
        border-right: 1px solid $nutRed;

        &:nth-child(1){
            border-left: 1px solid $nutRed;
        }

        &:hover {
            color: $nutRed;
            transition: .3s all;
        }

        &:focus {
            outline: none;
        }

    }
}

.active {
    color: $nutRed !important;
}