@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .triangle {
        transform: rotate(7deg);
    }
}

@media (min-width: 992px) {
    .triangle {
        transform: rotate(10deg);
    }
}

@media (min-width: 1200px) {
    .triangle {
        transform: rotate(17deg);
    }
}