/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../sass/fonts/montserrat-v13-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../sass/fonts/montserrat-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../sass/fonts/montserrat-v13-latin-regular.woff2") format("woff2"), url("../sass/fonts/montserrat-v13-latin-regular.woff") format("woff"), url("../sass/fonts/montserrat-v13-latin-regular.ttf") format("truetype"), url("../sass/fonts/montserrat-v13-latin-regular.svg#Montserrat") format("svg");
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

body {
  background-color: #202020;
  color: #202020;
}

.remove {
  display: none !important;
}

.show {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 1;
}

.hide {
  opacity: .1;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.grid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.grid .grid-category {
  height: 200px;
  white-space: nowrap;
  position: absolute;
}

.grid .grid-category:nth-child(2) {
  top: 200px;
}

.grid .grid-category:nth-child(3) {
  top: 400px;
}

.grid .grid-category:nth-child(4) {
  top: 600px;
}

.grid .grid-category .grid-img-wrapper {
  height: 100%;
  display: inline-block;
  position: relative;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.grid .grid-category .grid-img-wrapper .grid-img {
  padding: 0 .1rem;
  height: 98%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(transparent -100%, #202020 67%);
  background-color: #20202020;
  opacity: 0;
  position: absolute;
  z-index: 1;
  -webkit-transition: .3s all;
  transition: .3s all;
  text-align: center;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay:hover {
  opacity: 1;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay:hover ~ .grid-img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay:hover > .grid-img-box {
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box > span {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box :nth-child(1) {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  display: block;
  border: 2px solid #87827d;
  border-radius: 30px;
  height: 16px;
  width: 16px;
  margin: auto;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box :nth-child(1)::after {
  content: " ";
  right: -10%;
  bottom: -5px;
  height: 8px;
  width: 2px;
  background-color: #87827d;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box :nth-child(2) {
  margin-top: 3rem;
  color: #87827d;
}

.grid .grid-category .grid-img-wrapper .grid-img-overlay .grid-img-box :nth-child(3) {
  color: #af0130;
}

.grid-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.grid-filter > a {
  color: #87827d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  -webkit-transition: .3s all;
  transition: .3s all;
  padding: 0 2rem;
  border-right: 1px solid #af0130;
}

.grid-filter > a:nth-child(1) {
  border-left: 1px solid #af0130;
}

.grid-filter > a:hover {
  color: #af0130;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.active {
  color: #af0130 !important;
}
/*# sourceMappingURL=style.css.map */